  .animal-option {
    display: inline-block;
    text-align: center;
    margin-right: 20px; 
  }
  
  .animal-option img {
    width: 48px; 
    height: auto;
    vertical-align: middle;
  }
  
  .animal-option span {
    display: block;
    margin-top: 10px;
  }

  .animal-avatar-widget {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .name-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%; 
  }