/* EditProfile.tsx -sivun tyylit */

  
  .profile-modification {
    margin-bottom: 30px;
  }
  
  .profile-modification form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-modification label {
    margin-bottom: 5px;
  }
  
  .profile-modification input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .multiline-text {
    white-space: pre-wrap;
  }
  
  /* Tyylit avatarin valinnalle ja kytkimelle */
  .input-group.editProfileAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar-selection,
  .profile-picture-toggle {
    margin-bottom: 20px;
  }
  
  /* Lomakkeen sisältö */
  .input-group.editProfile {
    text-align: center;
  }
  
  /* Pääsyoikeudet -kytkin */
  .switch-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Tallennus- ja paluupainikkeet */
  .custom-button {
    background-color: #63c8cc !important;
  }

  .custom-button.editProfile {
    margin-right: 10px;
  }

  .input-group button {
    margin-top: 10px;
  }