html, body {
	margin: 0;
	padding: 0;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center !important;
	background-color: #FFE9D7;
}
    
.page {
	display: flex;
	align-items: center;
	margin-top: 10vh;
	margin-bottom: 5vh;
}

.content-container {
	margin: 0;
	padding: 0;
}
/* Yleiset tyylit Headerille ja Footerille */
.MuiBox-root .MuiPaper-root {
  flex: 0 0 auto;
  background-color: white;
  color: black;
  box-shadow: 0px 0px;
}

.MuiBox-root .MuiPaper-root .css-9xi7rl-MuiTypography-root {
	font-weight: bold;
	color: black;
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-column-left {
	padding: 3vh;
	display: flex;
	flex-direction: column;
}

.footer-column-left h3{
	margin:0
}

.footer-contact-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-column-right {
	padding: 3vh;
	text-align: right;
}

.footer-icons{
	margin-left: 2vh;
}

.footer-icons a{
	color: #0D0908;
}

.footer-list {
	display: flex;
	flex-direction: column;
}

.footer-li {
	margin-bottom: 1vh;
}

.footer-link {
	text-decoration: none;
	color: black;
	font-family: 'Quicksand', sans-serif;
}

@media (max-width: 768px) {
	.page {
		margin-top: 15vh;
	}

	footer {
		flex-direction: column;
	}
	.footer-column-left {
		align-items: center;
		padding-bottom: 0;
	}
	.footer-contact-info {
		margin-top: 1vh;
		flex-direction: column;
	}
	.footer-icons {
		margin-left: 0;
	}
	.footer-column-right {
		padding-bottom: 1vh;
		text-align: center;
	}

  }