
html, body {
	margin: 0;
	padding: 0;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}


.page {
	display: flex;
	align-items: center;
	margin-top: 15vh;
	margin-bottom: 5vh;
}


/* Yleiset tyylit Headerille ja Footerille */
.MuiBox-root .MuiPaper-root {
  flex: 0 0 auto;
  background-color: white;
  color: black;
  box-shadow: 0px 0px;
}

.MuiBox-root .MuiPaper-root .css-9xi7rl-MuiTypography-root {
	font-weight: bold;
	color: black;
}

@media (max-width: 768px) {
	.page {
		margin-top: 15vh;
	}
  }