.meals-container {
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-group.meals {
    text-align: left;
    background-color: white;
    font-weight: lighter;
    margin-bottom: 5px;
}