.subscription-page {
	text-align: center;
}

.subscription-description {
	padding: 2vh;
}

@media (max-width: 768px) {
	.subscription-description {
		width: 50vh;
		padding: 0;
		padding-top: 3vh;
	}
}