.timeBlocking {
    display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
}

.timeBlocking .select {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.input-group.timeBlocking {
    display: flex;
	flex-direction: column;
	align-items: center;
    text-align: left;
    background-color: white;
    font-weight: lighter;
}

.preview-page {
	display: flex;
	flex-direction: column;
}

.preview-top-panel {
	display: flex;
	flex-direction: row;
	position: relative;
}

.preview-image {
	margin-bottom: 2vh;
	margin-right: 2vh;
	width: 40%;
	border: 1px solid black;
}

.preview-top-right {
	display: flex;
	flex-direction: column;
}

.preview-description {
	width: 60%;
	margin: 1vh;
}

.preview-top-right-bottom {
	display: flex;
	margin-bottom: 2vh;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.preview-target {
	width: 20%;
}

.preview-register {
	margin-top: 3vh;
	margin-bottom: 3vh;
	text-align: right;
}

@media (max-width: 768px) {
	.preview-page {
		padding: 1vh;
	}

	.preview-top-panel {
		flex-direction: column;
	}

	.preview-image {
		width: 90%;
		height: 20vh;
	}

	.preview-description {
		text-align: left;
		width: 90%;
	}

	.preview-target {
		width: 40%;
	}
  }


